* {
  outline: none;
}
html {
  background: #B3C5FF;
}
.search {
  border-bottom: 2px solid silver;
}
.anons {
  width: 55%;
  float: left;
  margin-bottom: 100px;
  background: #B3C5FF;
}
.anons .article {
  float: left;
  border: 2px solid silver;
  width: 30%;
  height: 335px;
  margin-left: 2.5%;
  margin-top: 2.5%;
  border-radius: 7px;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #FFFFB2;
}
.anons .article img {
  height: 100px;
}
.anons .article #buy {
  margin-top: 5px;
  padding: 3px 48px;
}
.admin_page {
  color: #488B39;
}
.admin_page h3 {
  font-family: CURSIVE, sans-serif;
  font-size: 1.5em;
}
.admin_page h1 {
  margin-top: 10px;
  font-size: 1.9em;
  font-weight: bold;
  font-family: CURSIVE, sans-serif;
  margin-bottom: 15px;
}
.admin_page label {
  font-size: 1.5em;
  font-weight: normal;
  font-family: COMIC SANS MS, sans-serif;
  margin-bottom: 10px;
}
.admin_page input {
  margin-bottom: 10px;
}
form input {
  border-radius: 5px;
  border: 2px solid silver;
  padding: 3px;
  margin-left: 0px;
}
button {
  border-radius: 5px;
  border: 2px solid silver;
  padding: 3px;
  margin-left: 0px;
}
button:focus {
  border: 2px solid #FF5F5F;
}
form input:focus {
  border: 2px solid #FF5F5F;
}
textarea {
  min-width: 45px;
  min-height: 35px;
  border: 2px solid silver;
  border-radius: 5px;
  padding: 5px;
}
textarea:focus {
  border: 2px solid #FF5F5F;
}
.siteBar {
  float: left;
  width: 20%;
  height: 100%;
  border: 2px solid silver;
  border-top: 0px;
  border-radius: 0px 0px 7px 0px;
  background: #F2F2F2;
}
.adminZona {
  float: right;
  width: 25%;
  height: auto;
  min-height: 100%;
  border: 2px solid silver;
  border-top: 0px;
  border-radius: 0px 0px 0px 7px;
  margin-bottom: 100px;
  background: #F2F2F2;
}
.adminZona .addZona {
  width: 100%;
  height: auto;
  border-bottom: 2px solid silver;
  margin-top: 0px;
}
.adminZona .basket {
  width: 100%;
  height: auto;
}
.adminZona .basket img {
  height: 100px;
}
.right {
  float: right;
}
.left {
  float: left;
}
header {
  width: 100%;
  margin-bottom: 0px;
  background: #E4E4E4;
}
header .header {
  height: 75px;
  width: 100%;
  border-bottom: 2px solid silver;
}
header .logo {
  display: block;
  height: 71px;
  margin: 2px;
  margin-left: 20px;
  float: left;
}
header #logotype {
  float: left;
  padding-top: 15px;
  margin-left: 20px;
  font-size: 2.2em;
  font-family: SEGOE SCRIPT, sans-serif;
}
header #logotype:hover {
  text-decoration: none;
}
header #admin {
  float: right;
  padding-top: 15px;
  margin-right: 30px;
  font-size: 2.2em;
  font-family: SEGOE SCRIPT, sans-serif;
}
header #admin:hover {
  text-decoration: none;
}
footer {
  width: 100%;
  margin-top: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #E4E4E4;
  font-family: SEGOE SCRIPT, sans-serif;
  font-size: 1.5em;
  color: #337ab7;
}
footer .footer {
  height: 65px;
  width: 100%;
  border-top: 2px solid silver;
}
footer .footer .license {
  padding-top: 20px;
}
footer .footer .vk {
  padding-top: 20px;
}
footer .footer img {
  width: 40px;
  margin-right: 30px;
}
footer .footer .license {
  padding-left: 30px;
}
#page-wrap {
  padding-bottom: 95px;
}
